@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<TransmisionViewModel>

@{
    ViewData ["Title"] = "Скорости";
}

    <h4>Transmision</h4>
    <hr/>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>TransmisionId</th>
            <th>TransmisionName</th>
            <th>TransmisionPrice</th>
            <th>TransmisionCode</th>
        </tr>
        @foreach (TransmisionViewModel transmision in Model)
        {
            <tr>
                <td>@transmision.TransmisionName</td>
                <td>@transmision.TransmisionPrice</td>
                <td>@transmision.TransmisionCode</td>
            </tr>
        }
    </table>