@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<TransmisionViewModel>

@{
    ViewData["Title"] = "Transmision";
}

<div class="row">
    <div class="col-md-12 test-right pd-15">
    <a asp-area="Admin" asp-action="Add" asp-controller="Transmision" class="btn btn-success btn-sm">
        <i class="fa fa-plus"></i>
            Add
    </a>
  </div>
</div>

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>TransmisionName</th>
            <th>TransmisionPrice</th>
            <th>TransmisionCode</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (TransmisionViewModel transmision in Model)
        {
            <tr>
                <td>@transmision.TransmisionName</td>
                <td>@transmision.TransmisionPrice</td>
                <td>@transmision.TransmisionCode</td>
                <td> <a asp-area="admin" asp-action="Edit" asp-controller="Transmision" asp-route-id="@transmision.Id" class="btn btn-danger btn-sm">Edit</a><td/>
            </tr>
        }
    </table>
</body>