@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<TransmisionViewModel>

@{
    ViewData["Title"] = "Скорости";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>TransmisionName</th>
            <th>TransmisionPrice</th>
            <th>TransmisionCode</th>
        </tr>
        @foreach (TransmisionViewModel transmision in Model)
        {
            <tr>
                <td>@transmision.TransmisionName</td>
                <td>@transmision.TransmisionPrice</td>
                <td>@transmision.TransmisionCode</td>
                <a asp-controller="Transmision" asp-action="Edit" asp-route-id="@transmision.Id">Edit</a>
            </tr>
        }
    </table>
</body>