@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<SuspensionViewModel>

@{
    ViewData["Title"] = "Двигател";
}

    <h4>Engine</h4>
    <hr/>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>SuspensionId</th>
            <th>SuspensionName</th>
            <th>SuspensionPrice</th>
            <th>SuspensionCode</th>
        </tr>
        @foreach (SuspensionViewModel engine in Model)
        {
            <tr>
                <td>@engine.SuspensionName</td>
                <td>@engine.SuspensionPrice</td>
                <td>@engine.SuspensionCode</td>
            </tr>
        }
    </table>