@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<SuspensionViewModel>

@{
    ViewData["Title"] = "Suspension";
}

<div class="row">
    <div class="col-md-12 test-right pd-15">
    <a asp-area="Admin" asp-action="Add" asp-controller="Suspension" class="btn btn-success btn-flat">
        <i class="fa fa-plus"></i>
            Add
    </a>
  </div>
</div>

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>SuspensionName</th>
            <th>SuspensionPrice</th>
            <th>SuspensionCode</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (SuspensionViewModel suspension in Model)
        {
            <tr>
                <td>@suspension.SuspensionName</td>
                <td>@suspension.SuspensionPrice</td>
                <td>@suspension.SuspensionCode</td>
                <td> <a asp-area="admin" asp-action="Edit" asp-controller="Suspension" asp-route-id="@suspension.Id" class="btn btn-danger btn-flat">Edit</a><td/>
            </tr>
        }
    </table>
</body>