@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<SuspensionViewModel>

@{
    ViewData["Title"] = "Окачване";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>SuspensionName</th>
            <th>SuspensionPrice</th>
            <th>SuspensionCode</th>
        </tr>
        @foreach (SuspensionViewModel suspension in Model)
        {
            <tr>
                <td>@suspension.SuspensionName</td>
                <td>@suspension.SuspensionPrice</td>
                <td>@suspension.SuspensionCode</td>
                <a asp-controller="Suspension" asp-action="Edit" asp-route-id="@suspension.Id">Edit</a>
            </tr>
        }
    </table>
</body>