@using CarPartsShoppingList.Infrastructure.Data.Models
@model ShoppingListItemViewModel

<div>
    <form method="post">
        <div>
            <label>Shopping List Name</label>
            <input type="text" />
            <span></span>
        </div>

        <div>
            <label>Engine</label>
            <input type="text" />
            <span></span>
        </div>

        <div>
            <label>Transmision</label>
            <input type="number" />
            <span></span>
        </div>
        @Html.DropDownListFor(m => m.Engine,
        new SelectList(Enum.GetValues(typeof(Engine))),
                        "Select Engine")

        <div class="row">
            <div class="col-lg-6">@Html.EditorFor(x => x.ShoppingListName)</div>
        </div>>

        <div>
            <label>Shopping List Item Code</label>
            <input type="text" />
            <span></span>
        </div>

        <div>
            <button>Add</button>
        </div>
    </form>
</div>