@model ShoppingListViewModel

@{
    ViewData ["Title"] = "Edit shopping list items";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            @Html.HiddenFor(x => x.Id)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="saveContainer">
                <partial name="_SaveFormContent" model="@("#saveContainer")" />

                @* TODO select2 multi
                    <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.Products, "Select2Multi")</div>
                    </div>*@

                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.ShoppingListName)</div>
                </div>

            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-success single-click-submit" />
                <a asp-controller="ShoppingList" asp-action="ShoppingList" class="btn btn-danger">Back</a>
            </div>
        </form>
    </div>
</div>