@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<ShoppingListViewModel>

@{
    ViewData["Title"] = "Shopping list name";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ShoppingListName</th>
            <th>ShoppingListItems</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (ShoppingListViewModel shoppingList in Model)
        {
            <tr>
                <td>@shoppingList.ShoppingListName</td>
                <td>@shoppingList.ShoppingListItems</td>
                <td> <a asp-area="admin" asp-action="add" asp-controller="ShoppingList" asp-route-id="@shoppingList.Id" class="btn btn-succes btn-flat">Add</a><td/>
                <td> <a asp-area="admin" asp-action="edit" asp-controller="ShoppingList" asp-route-id="@shoppingList.Id" class="btn btn-danger btn-flat">Edit</a><td/>
            </tr>
        }
    </table>
</body>