@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<ShoppingListViewModel>

@{
    ViewData["Title"] = "Списък за пазаруване";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ShoppingListName</th>
            <th>ShoppingListItems</th>
        </tr>
        @foreach (ShoppingListViewModel shoppingList in Model)
        {
            <tr>
                <td>@shoppingList.ShoppingListName</td>
                <td>@shoppingList.ShoppingListItems</td>
                <a asp-controller="ShoppingList" asp-action="Add" class="btn btn-success single-click-submit" asp-route-id="@shoppingList.Id">Add</a>
                <a asp-controller="ShoppingList" asp-action="Edit" class="btn btn-danger" asp-route-id="@shoppingList.Id">Edit</a>
            </tr>
        }
    </table>
</body>