@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<ShoppingListViewModel>

@{
    ViewData["Title"] = "Списък за пазаруване";
}

    <h4>ShoppingList</h4>
    <hr/>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>ShoppingLisId</th>
            <th>ShoppingListName</th>
        </tr>
        @foreach (ShoppingListViewModel shoppingList in Model)
        {
            <tr>
                <td>@shoppingList.ShoppingListName</td>
                <td>@shoppingList.ShoppingListItems</td>
            </tr>
        }
    </table>